/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1312px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Utility Classes */
.pink {
    background: rgba(255, 97, 97, 0.3);
}
.violet {
    background: rgba(183, 92, 255, 0.3);
}
.blue {
    background: rgba(92, 168, 255, 0.3);
}
.green {
    background: rgba(150, 255, 92, 0.3);
}
.mint {
    background: rgba(92, 255, 237, 0.3);
}
.h12 {
    height: 12px;
}
.h16 {
    height: 16px;
}
.h24 {
    height: 24px;
}
.h32 {
    height: 32px;
}
.h48 {
    height: 48px;
}
.btn{
    height: 48px;
    width: 204px;
    border-radius: 50px;
    background: linear-gradient(236.84deg, #9C8BEA 1.49%, #544695 105.35%);
    box-shadow: -4px 4px 15px rgba(129, 103, 227, 0.2);
    margin-bottom: 104px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    outline: none;
    border: none;
}
.btn:hover {
    transform: scale(1.1);
    transition: .2s;
    opacity: .9;
}
.btn:active {
    opacity: .7;
}
h1, h2, h3, p {
    color:#4F586B;
}

/* MAIN */
.row-top {
    margin-top: 75px;
}
.row h1 {
    font-size: 48px;
    line-height: 56px;
    color: #fff;
}
.row h2 {
    font-size: 32px;
    line-height: 40px;
}
.row h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.row p {
    font-size: 16px;
    line-height: 24px;
    color: #4F586B;
}
.box {
    flex: 20%;
    max-width: 23.2%;
}
.box img {
    width: 72px;
    height: 72px;
}
.main-content {
    position: relative;
    background: url(./img/main-img.jpg) center/cover no-repeat;
}
.main-content img {
    position: absolute;
    width: 100%;
    z-index: -100;
}
.main-content-box {
    margin-top: 104px;
    width: 35%;
}
.main-content-box .row p {
    color: #fff;
}
.center {
    justify-content: center;
    color: #4F586B;
}
.bottom-img {
    width: 528px;
    height: 368px;
}


/* SLIDER */
.slide-img {
    width: 192px;
    height: 192px;
}
.img-slider-box p {
    margin-bottom: 32px;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    text-align: center;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: url(./img/arrow-left.png);
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: url(./img/arrow-right.png);
}

.input {
    width: 100%;
}
